.uploadblog {
    border: dashed;
    background-color: white;
    /* width: 200px; */
    text-align: center;
    /* display: flex;
    justify-content: center; */
    margin: auto;
    width: 15%;

} 

body {
background-color: dodgerblue;
}

#title {
    
    width: 1000px;
}

#message {
    width: 1000px;
}
